* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

img {
    border: 1px solid black;
    border-radius: 3px;
}


img:hover {
    opacity: 0.5;
}

.projet:first-of-type img:first-of-type {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.page-index {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "projects projects projects"
    "studies studies studies"
    "post post post"
    "contact contact contact"
    "footer footer footer"
    ;
}

.header {
    grid-area: header;  
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

nav ul li.active {
    border: 2px solid red;
}

nav ul li a {
    display: block;
    padding: 20px;   
    text-decoration: none;
    font-size: 30px;    
}

nav .sub-menu {
    display: none;
    position: absolute;
    background-color: #1abc9c;
    width: 200px;
  
}

nav ul li a:hover {
    background-color: #1abc9c;
    color: #fff;
}

nav ul li:hover .sub-menu {
    display: block;
}

nav .sub-menu li:hover a {
    background-color: #fff;
    color: #1abc9c;
}

nav .sub-menu li a {
    color: #fff;
}


.banner {
    grid-area: banner;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects {
    grid-area: projects;
    height: 60vh;
}

.projects .articles {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.projects h2 {
    text-align: center;
}

.etudes {
    grid-area: studies;
    height: 60vh;
}

.contact {
    grid-area: contact;
    height: 35vh;
}

.footer {
    grid-area: footer;
    height: 35vh;
}



