* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main img {
    border: 1px solid black;
    border-radius: 3px;    
}


main img:hover {
    opacity: 0.5;
}

.projet:first-of-type img:first-of-type {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

main .page-index {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "projects projects projects"
    "studies studies studies"
    "post post post"
    "contact contact contact"
    "footer footer footer"
    ;
}

.header {
    grid-area: header;  
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

main section.banner {    
    grid-area: banner;
    height: 40vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

nav ul li.active {
    border: 2px solid red;
}

nav ul li a {
    display: block;
    padding: 20px;   
    text-decoration: none;
    font-size: 30px;    
}

nav .sub-menu {
    display: none;
    position: absolute;
    background-color: #1abc9c;
    width: 200px;
  
}

nav ul li a:hover {
    background-color: #1abc9c;
    color: #fff;
}

nav ul li:hover .sub-menu {
    display: block;
}

nav .sub-menu li:hover a {
    background-color: #fff;
    color: #1abc9c;
}

nav .sub-menu li a {
    color: #fff;
}

main section.projects {
    grid-area: projects;
    height: 50vh;
    margin: 100px;
}

main section.projects .articles {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main section.projects h2 {
    text-align: left;
}

main section.etudes {
    grid-area: studies;
    height: 50vh;
    margin: 100px;
}

main section.etudes h2 {
    text-align: center;
}

main section.etudes .info-user {
    display: flex;
    align-items: stretch;    
    justify-content: space-around;
    margin-bottom: 2rem;    
}

main section.etudes .info-user .info-user__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section.etudes .info-user .info-user__right {
    display: flex;
    flex-direction: column-reverse;
}

main section.etudes .etudes-user .etude-user {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

main section.etudes .etudes-user .etude-user .etude-user__date {
    border: 1px solid black;
    padding: 10px;
}

main section.articles {
    grid-area: studies;
    height: 50vh;
    margin: 100px;
}

main section.articles .articles__container {
    display: flex;
    justify-content: space-around;
}

main section.articles .articles__container .article {
    width: 300px;
}


main section.articles .articles__container .article__image {
    background: url('https://picsum.photos/200') center center;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-bottom: 10px; 
}

main section.articles .articles__container .article__title {
    margin-bottom: 10px; 
}

main section.articles .articles__container .article__description {
    margin-bottom: 10px;
}

main section.articles .articles__container .article__actions .article__actions_left,
main section.articles .articles__container .article__actions .article__actions_right {
    padding: 10px;
    width: 110px;
}

main section.articles .articles__container .article__actions .article__actions_right{
    background: black;
    color: white;
    margin-left: 30px;
}

main section.contact {
    grid-area: contact;
    height: 40vh;
    margin: 100px;
}

main section.contact .contact__form {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer {
    grid-area: footer;
    height: 35vh;
}
.footer .footer_info{
    text-align: center;
    padding: 10px;
}