* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 3px;    
}

img:hover {
    opacity: 0.5;
}

/* black & white image, it is the image of second project */
main section.projects .projet:nth-child(2) .projet__image:nth-child(1) {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

main .page-index {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "projects projects projects"
    "studies studies studies"
    "post post post"
    "contact contact contact"
    "footer footer footer";
}

.page-index {
    padding: 20px;
}

/*----------------------      HEADER      --------------------*/
.header {
    grid-area: header;  
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

.header h1 {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    color: red;
}
/*----------------------      FIN HEADER   --------------------*/

/*----------------------      NAVIGATION   -------------------*/
nav ul li {
    display: block;
    position: relative;
}

nav ul li.active a {
    border: 2px solid red;
}

nav ul li a {
    display: inline-block;
    padding: 10px;   
    text-decoration: none;
    font-size: 15px;    
    text-transform: uppercase;
}

nav .sub-menu {
    display: none;
    position: absolute;
    background-color: #1abc9c;
    top:0;
    left:0;  
  
}

nav ul li a:hover {
    background-color: #1abc9c;
    color: #fff;
}

nav ul li:hover .sub-menu {
    display: block;
}

nav .sub-menu li:hover a {
    background-color: #fff;
    color: #1abc9c;
}

nav .sub-menu li a {
    color: #fff;
}
/*----------------------      FIN NAVIGATION   -------------------*/

/*----------------------      BANNIERE      --------------------*/
main section.banner {    
    grid-area: banner;
    height: 40vh;    
    display: flex;
    align-items: center;
    justify-content: center;    
    background: url('https://picsum.photos/seed/picsum/200/300') center center;
    background-size: cover;
    margin-top: 30px;
    border-radius: 3px;
}

main section.banner:hover {
    opacity: 0.5;
}
/*----------------------      FIN BANNIERE   -------------------*/

/*----------------------      PROJETS   -------------------*/
main section.projects {
    grid-area: projects;
    margin-top: 30px;
    height: auto;
}

main section.projects .articles {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section.projects h2 {
    text-align: center;
}

main section.projects article {
    margin-bottom: 20px;
}

main section.projects article .projet__image {
    background: url('https://picsum.photos/400') center center;
    background-size: cover;
    border-radius: 3px;
    max-width: 100%;
    height: 300px;    
    margin-bottom: 10px;
}

main section.projects article .projet__image:hover {
    opacity: 0.5;   
}

main section.projects article h3,
main section.projects article p {
    margin-bottom: 15px;
}

main section.projects article button {
    padding: 10px;
}
/*----------------------      FIN PROJETS   -------------------*/

/*----------------------      ETUDES   ------------------------*/
main section.etudes {
    grid-area: studies;
    height: 58vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: auto;
    padding: 10px;
    margin-bottom: 30px;
}

main section.etudes h2 {
    text-align: center;
}

main section.etudes .info-user {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-around;
    margin-bottom: 15px;    
}

main section.etudes .info-user .info-user__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

main section.etudes .info-user .info-user__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 17px;
}

main section.etudes .etudes-user .etude-user {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 1rem;
}

main section.etudes .etudes-user .etude-user .etude-user__date {
    border: 1px solid black;
}
/*----------------------      FIN ETUDES   -------------------*/

/*----------------------      ARTICLES   -------------------*/
main section.articles {
    grid-area: studies;
    height: auto;
}

main section.articles h2{
    text-align: center;
}

main section.articles .articles__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section.articles .articles__container .article {
    width: auto;
    margin-bottom: 15px;
}

main section.articles .articles__container .article__image {
    background: url('https://picsum.photos/400') center center;
    background-size: cover;
    border-radius: 3px;
    max-width: 100%;
    height: 300px;    
    margin-bottom: 10px; 
}

main section.articles .articles__container .article__image:hover {
    opacity: 0.5;
}

main section.articles .articles__container .article__title,
main section.articles .articles__container .article__description {
    margin-bottom: 10px;
}

main section.articles .articles__container .article__actions {
    display: flex;
    justify-content: space-between;
}

main section.articles .articles__container .article__actions .article__actions_left,
main section.articles .articles__container .article__actions .article__actions_right {
    padding: 10px;
    width: 130px;
}

main section.articles .articles__container .article__actions .article__actions_right{
    background: black;
    color: white;
    margin-left: 30px;
}
/*----------------------      FIN ARTICLE   --------------------*/

/*----------------------      CONTACT   ------------------------*/
main section.contact {
    grid-area: contact;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 50px;
}

main section.contact h2 {
    text-align: center;
}

main section.contact .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main section.contact .contact__form input {
    height: 30px;
}

main section.contact .contact__form input,
main section.contact .contact__form textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

main section.contact .contact__form .contact__form__send {   
    text-align: right;
}

main section.contact .contact__form .contact__form__send button{
    padding: 8px;
    background-color: black;
    color: white;
    width: 90px;
}
/*----------------------      FIN CONTACT   -------------------*/

/*----------------------      FOOTER   -------------------*/
.footer {
    grid-area: footer;
    height: 35vh;
}
.footer .footer_info {
    text-align: center;
    padding: 10px;
}

.footer .footer_info a {
    text-decoration: none;
}
/*----------------------      FIN FOOTER   -------------------*/

/*----------------------      MEDIAS QUERYS -------------------*/
@media only screen and (max-width: 600px) {
    body {
        background-color: darkgray;
    }
}

@media only screen and (min-width: 800px) {
    /*----------------------      HEADER      --------------------*/
    .header h1 {
        margin-top: 50px;
        font-size: 60px;
        letter-spacing: 1.5rem;
    }
    /*----------------------      FIN HEADER   --------------------*/
    /*----------------------      BANNIERE      --------------------*/
    /*----------------------      FIN BANNIERE   -------------------*/
    /*----------------------      NAVIGATION   -------------------*/
    
    nav ul li {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
    
    nav ul li.active {
        border: 2px solid red;
    }
    
    nav ul li a {
        display: block;
        padding: 20px;   
        text-decoration: none;
        font-size: 30px;    
        text-transform: uppercase;
    }
    
    nav .sub-menu {
        display: none;
        position: absolute;
        background-color: #1abc9c;
        width: 200px;
      
    }
    
    nav ul li a:hover {
        background-color: #1abc9c;
        color: #fff;
    }
    
    nav ul li:hover .sub-menu {
        display: block;
    }
    
    nav .sub-menu li:hover a {
        background-color: #fff;
        color: #1abc9c;
    }
    
    nav .sub-menu li a {
        color: #fff;
    }
    /*----------------------      FIN NAVIGATION   -------------------*/
    
    /*----------------------      PROJETS   -------------------*/
    main section.projects {
        grid-area: projects;
        height: auto;
        margin: 100px;
    }
        
    main section.projects .articles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    main section.projects h2 {
        text-align: left;
    }
    
    main section.projects article {
        padding: 10px;
    }
    
    main section.projects article .projet__image {
        background: url('https://picsum.photos/400') center center;
        background-size: cover;
        border-radius: 3px;
        max-width: 100%;
        height: 300px;    
        margin-bottom: 10px;
    }
    
    main section.projects article .projet__image:hover {
        opacity: 0.5;   
    }
    
    main section.projects article h3,
    main section.projects article p {
        margin-bottom: 15px;
    }
    
    main section.projects article button {
        padding: 10px;
    }
    /*----------------------      FIN PROJETS   -------------------*/
    
    /*----------------------      ETUDES   ------------------------*/
    main section.etudes {
        height: auto;
        margin: 100px;
        padding: 50px;
    }
    
    main section.etudes h2 {
        text-align: left;
    }
    
    main section.etudes .info-user {
        flex-direction: row;
        align-items: stretch;    
        margin-bottom: 2rem;    
    }
    
    main section.etudes .info-user .info-user__left {
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
    
    main section.etudes .info-user .info-user__right {
        display: flex;
        flex-direction: column-reverse;
    }
    
    main section.etudes .etudes-user .etude-user {
        justify-content: space-between;
        flex-direction: row;
    }
    
    main section.etudes .etudes-user .etude-user .etude-user__date {
        border: 1px solid black;
        padding: 10px;
        margin-right: 20px;
    }
    /*----------------------      FIN ETUDES   -------------------*/
    
    /*----------------------      ARTICLES   -------------------*/
    main section.articles {
        height: auto;
        margin: 100px;
    }

    main section.articles h2{
        text-align: left;
    }
    
    main section.articles .articles__container {
        justify-content: space-around;
        align-items: stretch;
        flex-direction: row;
    }
    
    main section.articles .articles__container .article {
        padding: 10px;
    }
    /*----------------------      FIN ARTICLE   --------------------*/
    
    /*----------------------      CONTACT   ------------------------*/
    main section.contact {
        margin: 100px;
    }
    
    main section.contact h2 {
        text-align: left;
    }
    
    main section.contact .contact__form input,
    main section.contact .contact__form textarea {
        width: 530px;
    }    
    /*----------------------      FIN CONTACT   -------------------*/
    
    /*----------------------      FOOTER   -------------------*/    
    .footer {
        grid-area: footer;
        height: 35vh;
    }
    .footer .footer_info {
        text-align: center;
        padding: 10px;
    }
    
    .footer .footer_info a {
        text-decoration: none;
    }
    /*----------------------      FIN FOOTER   -------------------*/
}